.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 1049px;
    margin: 0px 0px 0px 140px;
}

.text-main h1 {
    color: var(--colour-main-blue-900);
    margin: 242px 0px 20px 0px;
    line-height: 66px;
}

.text-main p {
    color: var(--colour-main-blue-500);
    margin: 0px 0px 69px 0px;
    line-height: 30px
}

.text-main, .button-main, .button-medium {
    margin-right: 20px;
}

.main-wrapper, .main-img, img {
    margin-top: 90px;
}