.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px 0px 165px;
}

.text-main, h1 {
    color: var(--colour-main-blue-900);
    margin: 242px 0px 0px 0px;
    line-height: 66px;
}

.text-main p {
    color: var(--colour-main-blue-500);
    margin: 20px 0px 69px 0px;
    line-height: 30px
}

.text-main, .button-main, .button-medium {
    margin-right: 20px;
}

.main-wrapper, .main-img, img {
    margin-top: 90px;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-section {
    margin: 0px 0px 0px 165px;
}

.text-section, .medium-36 {
    margin-top: 160px;
    margin-bottom: 30px;
}

.text-section, .regular-16 {
    color: var(--colour-main-blue-400);
    line-height: 30px;
}

.blocos-section {
    display: flex;
    margin-top: 50px;
}

.blocos-section, .medium-16 {
    color: var(--colour-main-blue-900);
    line-height: 18px;
    margin-bottom: 8px;
}

.blocos-section, .regular-12 {
    color: var(--colour-main-grey-600);
}

.img-1{
    margin-bottom: 14px;
}

.bloco-2 {
    margin-left: 30px;
}

.section-img {
    margin: 109px 165px 108px 30px;
}

.article-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-article {
    margin: 122px 0px 130px 190px;
}

.text-article {
    margin: 35px 170px 0px 155px;
}

.text-article, p {
    line-height: 10px;
}

.text-article-2 {
    margin: 0px 120px 0px 155px;
}

.button-article {
    margin-top: 40px;
}

.aside-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.text-aside {
    text-align: center;
    margin-top: 280px;
    margin-bottom: 120px;
}

.text-aside, span {
    color: var(--colour-main-blue-700);
}

.aside-1 {
    margin-bottom: 60px;
}

.aside-1-2 {
    margin-top: 18px;
}

.aside-2 {
    margin-bottom: 60px;
}

.aside-3, p {
    color: var(--colour-main-grey-600);
}

.aside-3, .button-aside {
    margin-top: 30px;
    margin-left: 10px;
}