.button {
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 8px 13px 8px 13px;
    border-radius: 2px;
    background: var(--colour-main-blue-800);
    color: var(--white);
    transition: 0.50s;
}

.button:hover {
    background: var(--colour-logo-blue-900);
    transition: 0.2s;
}