.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 3.75rem;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
}

.header-li, li {
    display: inline;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.625rem;
    font-weight: 900;
    color: var(--colour-logo-blue-900);
}

.header-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--colour-main-blue-300);
    margin-right: 50px;
}